@import url("https://fonts.cdnfonts.com/css/sf-pro-display");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary: 0, 153, 51;
    --secondary: 56, 62, 59;
    --secondary-2: 153, 28, 0;
    --radius: 10px;
    --bg-primary: #f0f0f0;
    --bg-secondary: #ffffff;

    --bg-dark: #272f2b;

    --text: #242e30;
    --footer: var(--bg-dark);

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
  }
  html,
  body {
    background: var(--bg-primary);
    font-family: "DM Sans", "Arial", "sans-serif";
    color: #000;
    transition: all;
    scroll-behavior: smooth;
  }

  [data-overlay-container="true"] {
    height: 100%;
    width: 100%;
  }

  button:focus {
    outline: transparent;
    border: transparent;
  }
  .shadow-xx-large {
    box-shadow: 0px 25px 50px -12px rgba(16, 24, 40, 0.25);
  }
  .shadow-soft-medium {
    box-shadow: 0px 14px 22px 30px rgba(16, 25, 40, 0.14),
      0px 0px 3px 10px rgba(16, 25, 40, 0.04);
  }
  .overflow-hidden {
    overflow: hidden;
  }
  body[data-scroll-locked] {
    min-width: 100%;
  }
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  @-webkit-keyframes autofill {
    0%,
    100% {
      color: black;
      background: transparent;
    }
  }
}
input:-internal-autofill-selected {
  background: transparent !important;
}

.border-state-error-200,
.border-state-error-200:focus-within {
  border-color: #e26e6a;
}
@layer utilities {
  .lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid currentColor;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: currentColor transparent transparent transparent;
  }
  .lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
  }
  .lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
  }
  .lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
  }
  @keyframes lds-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
